@import "_generales";
@import "_nav";
@import "_index";
@import "_nosotros";
@import "_servicios";
@import "_productos";
@import "_contacto";
@import "_footer";

$color1: rgb(188,126,240);
$color2: darkmagenta;
$color3: pink;
$color4: white;
$color5: black;
$font1: fantasy;
$font2: arial;